#div1
{
    display: flex;
    background-color: rgb(155, 96, 53);
    color: aliceblue;
    word-spacing: 20px;    
    
}
#div2
{
    word-spacing: 20px;
    margin-top: 25px;
    width: 25%;
    padding-left: 15px;
}
#div3
{
    margin-top: 15px;
    text-align: right;
    width: 80%;
    padding: 9px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#nav
{
    display: flex;
    width: 100%;
    background-color: purple;
    height: 40px;
    
}
#logo
{
    width: 16%;
    text-align: center;
    color: white;
    background-color: rgb(170, 23, 170);
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}
#div4
{
    word-spacing: 25px;
    text-align: right;
    width: 82%;
    margin-top: 15px;
}
a
{
    color: aliceblue;
    text-decoration: none;
    font-family: arial;
    padding: 15px;
}
a:hover
{
    background-color: yellow;
    color: red;
    transition: 2s all;
}
#slider
{
    width: 100%;
    height: 500px;
    border: 2px inset black;
    background-image: url(../Images/19333449.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: gallery;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes gallery
{
    0%
    {
        background-image: url(../Images/19333449.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    50%
    {
        background-image: url(../Images/fictional-planet-with-colourful-night-sky-stars-nebula.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%
    {
        background-image: url(../Images/space1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

}